[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
flask = "*"
networkx = "*"
typing = "*"
PyYAML = "*"
pigpio = "*"
attrs = "*"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-profiling = "*"
flake8 = "*"
flake8-mypy = "*"

# install this project in editable mode so we can import it
"-e ." = {path = ".", editable = true}
