[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
requests = "*"
networkx = "*"

[dev-packages]
pytest = "*"
"e1839a8" = {path = ".", editable = true}
"flake8" = "*"
